##############################
## pycharm                  ##
##############################
.idea
*.pyc

##############################
## password                 ##
##############################
secret.py

##############################
## zips                     ##
##############################
*.zip

##############################
## npy 训练数据              ##
##############################
*.npy
