##############################
## pycharm                  ##
##############################
.idea
*.pyc

##############################
## password                 ##
##############################
secret.py

##############################
## zips                     ##
##############################
*.zip
